@font-face {
  font-family: "iconfont"; /* Project id 4452210 */
  src: url('iconfont.woff2?t=1712825601601') format('woff2'),
       url('iconfont.woff?t=1712825601601') format('woff'),
       url('iconfont.ttf?t=1712825601601') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.375rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--github:before {
  content: "\e6f6";
}

.icon--fold:before {
  content: "\e66c";
}

.icon--add:before {
  content: "\e602";
}

.icon--play:before {
  content: "\e600";
}

.icon--tg-top-1:before {
  content: "\e6c8";
}

.icon--tg-top-2:before {
  content: "\ee4a";
}

.icon--tg-right-1:before {
  content: "\ee4b";
}

.icon--tg-right-2:before {
  content: "\ee4c";
}

.icon--tg-bottom-1:before {
  content: "\ee4e";
}

.icon--tg-left-1:before {
  content: "\ee4f";
}

.icon--tg-bottom-2:before {
  content: "\ee50";
}

.icon--tg-left-2:before {
  content: "\ee51";
}

